<div class="md-form">
    <input type="text" id="form6" [(ngModel)]="palavraChave" class="form-control" mdbInput>
    <label for="form6">Pesquisar</label>
</div>

<!--Grid row-->
<div class="row mb-4 wow fadeIn">
    <!--Grid column-->
    <div class="col-md-3 mb-4"
         *ngFor='let pais of listaPaises | filter:palavraChave | angularPaginator: { currentPage: currentPage }; let i = index'>
        <!--Card-->
        <div class="card">

            <!--Card image-->
            <div style="max-height: 180px" class="view overlay">
                <img src="{{pais.flag}}"
                     class="card-img-top img-fluid"
                     alt="Bandeira de {{pais.flag}}">
                <a href="{{pais.flag}}" target="_blank">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h4 class="card-title">{{pais.translations.pt}} - {{pais.region}}</h4>
                <!--Text-->
                <p class="card-text">{{pais.translations.pt}} é um país cuja a sua capital é {{pais.capital}}, conta com
                    uma população
                    de {{pais.population}}, a língua mais falada neste país é {{pais.languages[0].nativeName}}</p>
                <a href="#" target="_blank" class="btn btn-primary btn-md">Ver mais
                    <i class="fas fa-play ml-2"></i>
                </a>
            </div>

        </div>
        <!--/.Card-->

    </div>
    <!--Grid column-->

</div>
<!--Grid row-->


<!--Pagination-->
<nav class="d-flex justify-content-center wow fadeIn">
    <ul class="pagination pg-blue">

        <angular-paginator (pageChange)="currentPage = $event"></angular-paginator>

    </ul>
</nav>
