<mat-toolbar color="primary"
             class="my-toolbar example-container"
             [class.mat-elevation-z2]="!isActive"
             [class.mat-elevation-z8]="isActive">Know Countries
</mat-toolbar>


<mat-grid-list cols="3" rowHeight="2:2">
    <mat-grid-tile *ngFor='let pais of listaPaises'>
        <mat-card>
            <mat-card-header>
                <img src="{{ pais.flag }}" mat-card-avatar>
                <span> {{ pais.name }}</span>
            </mat-card-header>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
